.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212529;
}

.footer-title {
  color: #fefefe;
  margin-right: 12px;
}

.footer-navbar {
  align-items: baseline;
}
